<!-- Back button with custom text and icon -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          defaultHref="tabs/tab1"
          [text]="buttonText"
          [icon]="buttonIcon"
          color="dark">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<form [formGroup]="loginForm">
  <img class="avatar" src="http://localhost:3000/images/iconlogo.jpg"><br>
  <h2>Login</h2>
  <ion-item lines="none" >
    <ion-label position="stacked">Email:</ion-label>
    <ion-input class="form-control" formControlName="email" type="text"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="stacked">Password:</ion-label>
    <ion-input type="password" required ="true" class="form-control" formControlName="password"></ion-input>
  </ion-item>

  <div class="signupbutton">
    <ion-button expand="block" type="submit" class="btn btn-primary" (click)="login()">Login</ion-button>
  </div>

</form>
</ion-content> 