component-button ion-list-header {
    padding-left: 4px;
  }
  
  component-button section {
    margin-bottom: 1em;
  
    padding: 0 10px;
  }

  ion-grid{
    height: 100%;
}
// ion-row{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
// }


.mini {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit:cover;
  // box-shadow: 5px 5px 5px grey;
}

.cardimg{
  width:50vh;
  height:200px;
  object-fit:cover;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

ion-card{
  padding-bottom: 15px;
}