component-button ion-list-header {
    padding-left: 4px;
  }
  
  component-button section {
    margin-bottom: 1em;
  
    padding: 0 10px;
  }

  ion-grid{
    height: 100%;
}
// ion-row{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100%;
// }
