.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display:block;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px grey;
    object-fit:cover;
  }

ion-item{
    ion-input{
        --padding-start: 10px;
        
        //--color:black;
    }
}

.iconcolor{
    color: white !important;
}