<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

<h1>My Listings</h1>

<ion-card *ngFor="let list of listings" color="light">
  <img src="http://localhost:3000/images/{{list.image}}">
  <ion-card-header>
    <ion-card-title>{{list.title}}</ion-card-title>
    <ion-card-subtitle><img class="mini" src="http://localhost:3000/images/{{list.user.image}}"><span>  Posted by: {{list.user.username}}</span></ion-card-subtitle><br>
    <ion-card-subtitle>{{list.type}}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    {{list.description}}  
  </ion-card-content>
</ion-card>

  <!--FLOATING ACTION BUTTON-->

</ion-content>

<div class="fabposition">
  <ion-content>
    <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
      <ion-fab-button [routerLink]="['/newlisting']" color="light">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</div>

