<ion-content>
  
  <ion-list>
    <ion-list-header lines="full">
      <ion-label>
        
      </ion-label>
    </ion-list-header>

    <ion-item href="./myprofile">
      <ion-icon  slot="start" name="person-circle"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" name="notifications"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" name="color-palette"></ion-icon>
      <ion-label>Theme</ion-label>
    </ion-item>
  </ion-list>

</ion-content>